@model HCL.MVC.Week6.Day1.Models.MovieC
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<style>
    div {
        color: deeppink;
    }

    h2 {
        color: blue;
    }
</style>
<h2>Movies Registration Details</h2>
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <div class="form-group">
            @Html.LabelFor(c => c.Name)
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(c => c.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.ReleaseDate)
            @Html.TextBoxFor(c => c.ReleaseDate, new { @class = "form-control" ,type="date"})
            @Html.ValidationMessageFor(c => c.ReleaseDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.AddDate)
            @Html.TextBoxFor(c => c.AddDate, new { @class = "form-control" ,type="date"})
            @Html.ValidationMessageFor(c => c.AddDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.AvailableStock)
            @Html.TextBoxFor(c => c.AvailableStock, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.AvailableStock)
        </div>
  
        <div class="form-group">
            @Html.LabelFor(c => c.GenreId)
            @Html.DropDownListFor(c=>c.GenreId,ViewBag.GenreId as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.GenreId)

        </div>
    <div class="form-group">
        <input type="submit" value="submit" class="btn btn-outline-primary" />

    </div>

}
    </div>

