@model HCL.MVC.Week6.Day1.Models.MovieC

@{
    ViewBag.Title = "SpecificDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies Details</h2>

@if (Model != null)
{
    <h2>@Model.Name</h2>
    <ul>
        <b>Release Date</b>:
        <li>@Model.ReleaseDate.ToShortDateString()</li>

        <b>Days Added</b>:
        <li>@Model.AddDate.ToShortDateString()</li>
        <b>Available Stock</b>:
        <li>@Model.AvailableStock</li>
        <b>Genre</b>:
        <li>@Model.Genre.Name</li>



    </ul>
    @*<h5> Seating Arrangement</h5>
    <div class="container" style="color:red" >
        <div class="row">
            <div class="col align-self-start">
               First Floor
            </div>
            <div class="col align-self-center">
              second floor
            </div>
            <div class="col align-self-end">
                third floor
            </div>
        </div>
    </div>*@
}
else
{
    <text>No Record</text>
}
