@model HCL.MVC.Week6.Day1.Models.CustomerC
@{
    ViewBag.Title = "DeleteCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2 style="color:blueviolet">Delete Customer</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        //var Birthdate = Model.DOB.HasValue ? Model.DOB.Value.ToShortDateString() : "No Date";
        <div class="form-group">
            @Html.LabelFor(c => c.CustomerName) : 
            @Html.DisplayFor(c => c.CustomerName, new { @class = "form-control", autocomplete = "off" })
         
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.City) :
            @Html.DisplayFor(c => c.City, new { @class = "form-control" })
        
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.DOB) :
            @Html.DisplayFor(c => c.DOB, new { @class = "form-control" })
          
        </div>
        <div class="form-group">
            <label> Gender</label>
            @*@Html.LabelFor(c => c.Gender)*@
            @Html.DisplayFor(c => c.Gender, new { @class = "form-control" })
           

        </div>
        <div class="form-group">
            <label> MemberShipType</label>
            @Html.DropDownListFor(c => c.Membership_TypeId, ViewBag.Membership_TypeId as SelectList, new { @class = "form-control" })
          
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-outline-primary" />

        </div>
    }
</div>
<div class="form-row"> @Html.ActionLink("Back to Index", "Index", "Customer")</div>